body {
    background-color: #303030;
    color: white;
}

#content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#header {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

#backbutton{
    margin-left: 15px;
    margin-top: 1px;
}

#result {
    color: #3095d3;
    font-size: 25px;
    font-weight: 800;
}


#history {
}