<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unit converter</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div id="container" align="center">
    <h1>Choose a unit, which want you converted</h1>

    <div id="links">
        <a href="cal-cm-converter" class="link">
            <div id="cal">
                Length converter <br/>
                cal-cm, cm-cal
            </div>
        </a>

        <a href="/time-converter" class="link">
            <div id="time"  >x
                Time converter <br/>
                s - min - h
            </div>
            <div style="clear: both;"></div>
        </a>
    </div>
    <div id="result">
        Your previous requests:
        <p th:text="${result}">Result Message</p>
    </div>

</div>

</body>
</html>