<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unit converter</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div id="container" align="center">
    <h1>Choose a unit, which want you converted</h1>

    <div id="links">
        <a href="cal-cm-converter" class="link">
            <div id="cal">
                Length converter <br/>
                cal-cm, cm-cal
            </div>
        </a>

        <a href="/mil-km-converter" class="link">
            <div id="distance"  >
                Distance converter <br/>
                mil-km, km-mil
            </div>
            <div style="clear: both;"></div>
        </a>
    </div>
    <p>Last three requests</p>
    <div th:if="${history?.size() gt 0}" th:each="entity : ${history}">
        <p th:if="${entityStat.index lt 3}"><span th:text="${entity}"></span></p>
    </div>

</div>

</body>
</html>